@page
@model WesternInn_TG_SA_AF.Pages.Bookings.BookingModel
@{
    ViewData["Title"] = "Book a room";
}

<h1>Book a room</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.RoomId" class="control-label"></label>
                <select asp-for="Booking.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="Booking.GuestEmail" class="control-label"></label>*@
                @*"Make the type "hidden" and the value = dummy@dummy.com to pass validation *@
                <input type="hidden" asp-for="Booking.GuestEmail" value="dummy@dummy.com" class="form-control" />
                @*<span asp-validation-for="Booking.GuestEmail"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckIn" class="control-label"></label>
                <input asp-for="Booking.CheckIn" class="form-control" />
                <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Booking.Cost" class="control-label"></label>*@
                @*Make the type "hidden" and the value = 0 to be in the valid range*@
                <input type="hidden" asp-for="Booking.Cost" value="0" class="form-control" />
                @*<span asp-validation-for="Booking.Cost" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOut" class="control-label"></label>
                <input asp-for="Booking.CheckOut" class="form-control" />
                <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
